*.DS_Store
.idea
.roo/
artifacts/
bin/
tollgate
tollgate-basic
tollgate-module-basic-go
*.orig
build_deleteme.yml.orig
squash_tool.sh
.github/workflows/roo-auto-commit.yml
vendor/
**/tollwallet_db/*
.roomodes
prompts.md
src/crows_nest/root/*.sh
src/basic
../_BACKUP_141278.gitignore
../_BASE_141278.gitignore
../_LOCAL_141278.gitignore
../_REMOTE_141278.gitignore
go_BACKUP_145466.mod
go_BASE_145466.mod
go_LOCAL_145466.mod
go_REMOTE_145466.mod
_BACKUP_141278.gitignore
_BASE_141278.gitignore
_LOCAL_141278.gitignore
_REMOTE_141278.gitignore